@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url(photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper .sidebar{
    opacity: 0.8;
    background: rgb(242, 105, 8);
    width: 20%;
    float: left;
    min-height:1000px;
    padding-right:100px;
   
}

.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.wrapper .sidebar h3{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
section{
width: 60%;
float: right;
}
nav {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(51, 51, 51);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(249, 220, 33);
}

main {
    
    
   
    background-color: white;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(236, 175, 22);
    color: white;
    text-align: center;
 }

 table {
    border-collapse: collapse;
    width: 90%;
    
    
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    color: white;

    

  }
  
  tr:nth-child(even) {background-color: #ffffff;}
  tr:hover {background-color: rgb(241, 117, 0);}


  form {
    border-collapse: collapse;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-top: 20px;
    
  }

  form button:hover {
    background-color: rgb(249, 220, 33);
    cursor: pointer;
  }